@page "/"
@using Microsoft.AspNetCore.Components.Web
@rendermode RenderMode.InteractiveServer
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime
@code
{
    public string login{ get; set; }
    public string password{ get; set; }
    public string Answer { get; set; }
    public async Task Autorization()
    {
        var apiClient = new ApiClient("eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9."+
        "eyJodHRwOi8vc2NoZW1hcy54bWxzb2FwLm9yZy93cy8yMDA1LzA1L2lkZW50aXR5L2NsYWltcy9uYW1lIjoi"+
        "MTIzMTIzIiwiaHR0cDovL3NjaGVtYXMueG1sc29hcC5vcmcvd3MvMjAwNS8wNS9pZGVudGl0eS9jbGFpbXMvbmFt"+
        "ZWlkZW50aWZlZXIiOiIxMjNlNDU2Ny1lODliLTEyZDMtYTQ1Ni00MjY2NTU0NDAwMDA"+
        "iLCJleHAiOjE3MzA5MDY3NDN9.ero6vopzxEbCz0XWeRIQ0eNOKL6q_CeKRMDApZeTAyc", "LANVER2024@");
        JSRuntime.InvokeVoidAsync("blockInputs");
        var result = await apiClient.AuthorizationUser(login, password);
        if (result != null && result.Error != string.Empty)
        {
            Answer = "Неверные данные";
            StateHasChanged();
            await Task.Delay(5000); 
            Answer = "";
            StateHasChanged(); 
        }
        else
        {
           NavigationManager.NavigateTo($"/home/{result.Id}",true);
        }
    }
}
 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    <link rel="stylesheet" href="~/StyleAutorization.css" />
</head>
<body>
    <div class="container">
        <div class="login-form">
            <div class="home-icon">
                <img src="\Img\IconApp.png">
            </div>
            <h2 style="color:Red">@Answer</h2>
            <h1>Войдите в систему</h1>
            <div class="form-group">
                <label >Логин</label>
                <input type="login" id="login" @bind="login" placeholder="">
            </div>
            <div class="form-group">
                <label >Пароль</label>
                <input type="password" id="password" @bind="password" placeholder="">
            </div>
            <button class="login-button"  @onclick="Autorization">Войти</button>
            <button class="register-button">Регистрация</button>
        </div>
    </div>
</body>
</html>
  <script src="~/Autorization.js"></script>
    <style>
    body {
        margin: 0;
        padding: 0;
        font-family: 'Arial', sans-serif;
        background: linear-gradient(to bottom, #6284ff, #8366ff);
        color: #333;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }

    .container {
        background-color: white;
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
        width: 350px;
        text-align: center;
    }

    .login-form {
        margin-top: 30px;
    }

    .home-icon .circle {
        width: 40px; /* Adjust the size as needed */
        height: 40px;
        border-radius: 50%; /* Make it a circle */
        background-color: white; /* Set a background color */
        overflow: hidden; /* Hide anything that overflows the circle */
        display: flex;
        justify-content: center;
        align-items: center; /* Center the image within the circle */
    }

    .home-icon img {
        width: 50%; /* Make the image fit within the circle */
        height: auto;
    }

    h1 {
        font-size: 24px;
        margin-bottom: 30px;
        font-weight: bold;
    }

    .form-group {
        margin-bottom: 20px;
    }

    label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
    }

    input {
        width: 100%;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
        box-sizing: border-box;
        font-size: 16px;
    }

    .login-button, .register-button {
        background-color: #5479ff;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 18px;
        transition: background-color 0.3s ease;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
        margin-bottom: 10px;
    }

        .login-button:hover, .register-button:hover {
            background-color: #395dff;
        }

    </style>