@page "/page"
@code {
    
}

<html>
    <div class="form">
    <h2 class="title">Работа с задачами</h2>
    <div class="input-container ic1">
        <input id="firstname" class="input" type="text" placeholder=" " />
        <div class="cut"></div>
        <label for="ID" class="placeholder">ID</label>
    </div>
    <div class="input-container ic2">
        <input id="Name" class="input" type="text" placeholder="" />
        <div class="cut"></div>
        <label for="lastname" class="placeholder">Названия</label>
    </div>
    <div class="input-container ic2">
        <div class="input-container ic1">
            <input id="firstname" class="input" type="text" placeholder=" " />
            <div class="cut"></div>
            <label for="Description" class="placeholder">Описания</label>
        </div>
        <div class="input-container ic1">
            <div class="FlexBox">
                <select name="city" style="color:#65657b; font-size:16px; width: 80%;" id="city-select" class="input">
                    <option value="">Выберите приоритет</option>
                    <option value="petersburg">Санкт-Петербург</option>
                    <option value="samara">Самара</option>
                    <option value="perm">Пермь</option>
                    <option value="novosibirsk">Новосибирск</option>
                </select>
                <div class="button-container">
                    <button class="add-button"><b>+</b></button>
                    <button class="edit-button">✎</button>
                </div>
            </div>
        </div>
        <div class="input-container ic1">
            <div class="input-container ic1">
                <div class="FlexBox">
                    <select name="city" style="color:#65657b; font-size:16px; width: 80%;" id="city-select" class="input">
                        <option value="">Выберите статус</option>
                        <option value="petersburg">Санкт-Петербург</option>
                        <option value="samara">Самара</option>
                        <option value="perm">Пермь</option>
                        <option value="novosibirsk">Новосибирск</option>
                    </select>
                    <div class="button-container">
                        <button class="add-button"><b>+</b></button>
                        <button class="edit-button">✎</button>
                    </div>
                </div>
                <div class="input-container ic1">
                    <input id="firstname" class="input" type="text" placeholder=" " />
                    <div class="cut"></div>
                    <label for="firstname" class="placeholder">Дата начала</label>
                </div>
                <div class="input-container ic1">
                    <input id="firstname" class="input" type="text" placeholder=" " />
                    <div class="cut"></div>
                    <label for="firstname" class="placeholder">Дата окончания</label>
                </div>
                <div class="FlexBox">
                    <button type="text" class="cancel-button">Отмена</button>
                    <button type="text" class="submit">Подтвердить</button>
                </div>
            </div>
        </div>
    </div>
</div>
</html>

<style>
    body {
        align-items: center;
        background-color: #8282ff;
        display: flex;
        justify-content: center;
        height: 100vh;
    }

    .form {
        background-color: #fff;
        border-radius: 20px;
        box-sizing: border-box;
        height: 800px;
        padding: 20px;
        width: 320px;
    }

    .title {
        color: Black;
        font-family: sans-serif;
        font-size: 24px;
        font-weight: 600;
        margin-top: 30px;
    }

    .subtitle {
        color: black;
        font-family: sans-serif;
        font-size: 16px;
        font-weight: 600;
        margin-top: 10px;
    }

    .input-container {
        height: 50px;
        position: relative;
        width: 100%;
    }

    .ic1 {
        margin-top: 40px;
    }

    .ic2 {
        margin-top: 30px;
    }

    .input {
        background-color: AliceBlue;
        border-radius: 12px;
        border: 0;
        box-sizing: border-box;
        color: #eee;
        font-size: 18px;
        height: 100%;
        outline: 0;
        padding: 4px 20px 0;
        width: 100%;
    }

    .cut {
        background-color: White;
        border-radius: 10px;
        height: 20px;
        left: 20px;
        position: absolute;
        top: -20px;
        transform: translateY(0);
        transition: transform 200ms;
        width: 76px;
    }

    .cut-short {
        width: 50px;
    }

    .input:focus ~ .cut,
    .input:not(:placeholder-shown) ~ .cut {
        transform: translateY(8px);
    }

    .placeholder {
        color: #65657b;
        font-family: sans-serif;
        left: 20px;
        line-height: 14px;
        pointer-events: none;
        position: absolute;
        transform-origin: 0 50%;
        transition: transform 200ms, color 200ms;
        top: 20px;
    }

    .input:focus ~ .placeholder,
    .input:not(:placeholder-shown) ~ .placeholder {
        transform: translateY(-30px) translateX(10px) scale(0.75);
    }

    .input:not(:placeholder-shown) ~ .placeholder {
        color: #808097;
    }

    .input:focus ~ .placeholder {
        color: #dc2f55;
    }

    .submit, .cancel-button {
        background-color: #08d;
        border-radius: 12px;
        margin: 5px;
        border: 0;
        box-sizing: border-box;
        color: #eee;
        cursor: pointer;
        font-size: 18px;
        height: 50px;
        margin-top: 38px;
        // outline: 0;
        text-align: center;
        width: 100%;
    }

    .cancel-button {
        background-color: #FF5039;
    }

    .submit:active {
        background-color: #06b;
    }

    .cancel-button:active {
        background-color: #E04632;
    }

    .FlexBox {
        display: flex;
        align-items: center;
        height: 100%;
    }

    .button-container {
        display: flex;
        width: 20%;
    }

    .add-button, .edit-button {
        width: 100%;
        height: 30%;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        padding: 5%;
    }

    .add-button {
        background-color: #4CAF50;
        color: #fff;
        font-size: 18.8px;
    }

    .edit-button {
        background-color: #03A9F4;
        color: #fff;
    }
</style>